*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 20px;

}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    display: flex; 
    /* justify-content: end; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around;
     */
     /* justify-content: space-between; */
     justify-content: space-evenly
     ;
     /* align-items: flex-start; */
     align-items: center;
     /* flex-direction: column-reverse; */
     flex-flow: row wrap;
    gap: 1rem;
    flex-wrap: nowrap;


}
.box{
    /* min-width: 100px; */
    min-height: 100px;
    background-color: black;
    color: white;
    font-size:2rem ;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 250px;
flex-shrink: 1;
}

.box:nth-child(2){
    /* flex: grow shrink basis */
    flex: 2 2 40%;
flex-shrink: 2;
order: 4;
}