*{
    font-family: monospace;
}
html{
    font-size: larger;
}
main{
    font-style: oblique;
}
body{
    font-size: 30px;
}
p{
    color: aqua !important;

}
p{
    color: rgb(255, 85, 0);

}
p span{
    text-transform: uppercase;
    background-color: rgb(116, 103, 28);
}
.highlight{
    background-color: chartreuse;
}
h1,h2{
    color: blueviolet;
}
.arc{
    color: burlywood;
}
#second{
   font-style: italic;
}