*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 50vw;
    background-color: skyblue;
    margin: 200px ;
}
header{
    width: 50%;
}
h1{
    border: 2px dashed red;
    width:40ch;
    /* align-items: center; */
    text-align: center;
    /* margin-left: 200px; */
}

p{
    font-size: 2rem; /*root element it doubles it*/
    width: 40ch;
    border: 2px solid pink;
    padding: 60px;
}
p{
    font-size: 2em; /*root element it doubles it*/
}